<div>
  <button mat-icon-button (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>
</div>
<div class="dashboard-container">
  <p style="text-align: center; background-color: lightskyblue; padding: 4px">
    Weather Forecast
  </p>
  <form [formGroup]="searchSection">
    <input
      type="text"
      placeholder="search weather"
      class="search-bar"
      formControlName="searchBox"
    />
  </form>

  <table class="cool-table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Summary</th>
        <th>TemperatureC</th>
        <th>TemperatureF</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let weather of filteredForecasts$ | async">
        <td>{{ weather.date }}</td>
        <td>{{ weather.summary }}</td>
        <td>{{ weather.temperatureC }}</td>
        <td>{{ weather.temperatureF }}</td>
        <td>
          <button mat-icon-button (click)="openDialog()">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="openDialog()">
            <mat-icon>content_copy</mat-icon>
          </button>
          <button mat-icon-button (click)="openDialog()">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
