<div class="upload-container">
    <h2>Upload Your Music</h2>
    <form>
      <div class="form-group">
        <input type="file"  (change)="onFileSelected($event)">
      </div>
      <div class="form-group">
        <label for="thumbnail">Upload Thumbnail:</label>
        <input type="file" id="thumbnail" accept="image/*" (change)="onThumbnailSelected($event)">
      </div>
      <button type="submit" class="btn-upload" (click)="uploadMusic()">Upload</button>
    </form>
    <div class="thumbnail-preview" *ngIf="thumbnailUrl">
      <img [src]="thumbnailUrl" alt="Thumbnail Preview">
    </div>
  </div>
  