/* You can add global styles to this file, and also import other style files */
/* styles.css */
.custom-snackbar {
    background-color: #f56969;
    width: 400px;
    box-shadow: 1px 1px 2 px black;
    border-radius: 2px;
  }
  
  .custom-snackbar-message {
    color: #ffffff;
  }
  