@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* You can add global styles to this file, and also import other style files */
/* styles.css */
.custom-snackbar {
    background-color: #f56969;
    width: 400px;
    box-shadow: 1px 1px 2 px black;
    border-radius: 2px;
  }
  
  .custom-snackbar-message {
    color: #ffffff;
  }

  .dashboard-container{
    background-color: white;
    padding: 4px;
    margin: 4px;   
   }
  
   .search-bar{
    display: block;
    width: 200px;
    height: 30px;
    box-shadow: 2px 2px 2px lightblue;
    text-align: left;
    margin: 10px;
    float: right;
    border-radius: 10px;
    padding-left: 8px;
   }